/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-BlackItalic.woff') format('woff'),
      url('webfonts/SFProDisplay-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-UltralightItalic.woff') format('woff'),
      url('webfonts/SFProDisplay-UltralightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-ThinItalic.woff') format('woff'),
      url('webfonts/SFProDisplay-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-HeavyItalic.woff') format('woff'),
      url('webfonts/SFProDisplay-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-LightItalic.woff') format('woff'),
      url('webfonts/SFProDisplay-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-Bold.woff') format('woff'),
      url('webfonts/SFProDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-Regular.woff') format('woff'),
      url('webfonts/SFProDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-SemiboldItalic.woff') format('woff'),
      url('webfonts/SFProDisplay-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('webfonts/SFProDisplay-Medium.woff') format('woff'),
      url('webfonts/SFProDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


:root {
  --theme__color1: #96F89C;
  --theme__color2: #09323D;
  --chivo: 'Chivo', sans-serif;
  --sf-pro-display: 'SF Pro Display';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 20px;
  line-height: 1.5;
  background-color: #09323D;
  color: #fff;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--sf-pro-display);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
  font-family: var(--chivo);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.8);
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1399px) and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1265px;
  }
}




/* header */
.header-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header-in {
  padding: 25px 0;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
  width: 137px;
  display: flex;
  align-items: center;
}
.header__logo img {

}

.main-menu {

}
.main-menu > ul {
  gap: 60px;
  display: flex;
  align-items: center;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  padding: 4px 0;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
  font-family: var(--sf-pro-display);
  position: relative;
}
.main-menu > ul > li > a.active {

}
.main-menu > ul > li > a:hover {
  color: var(--theme__color1);
}
.main-menu > ul > li > a::after {
  content: '';
  height: 2px;
  width: 0px;
  background: var(--theme__color1);
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  transition: 0.3s;
}
.main-menu > ul > li > a.active::after {
  width: 12px;
}
.main-menu > ul > li > a:hover::after {
  width: 100%;
}

.header__inner .default-button {
  min-height: 51px;
}
/* header-end */



/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 22px;
  transition: 0.3s;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  font-size: 22px;
  line-height: 1;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: var(--theme__color2);
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  text-align: center;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 8px;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: var(--theme__color2);
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {

}
.hero-slider {

}
.hero-slider .owl-nav {
  position: absolute;
  bottom: 40px;
  right: 100px;
}
.hero-slide {
  padding: 150px 0 50px;
  min-height: 840px;
  display: flex;
  align-items: center;
}
.hero__content {

}
.hero__content .h1 {
  font-size: 76px;
  margin: 0 0 12px;
  letter-spacing: -3px;
  text-transform: uppercase;
  font-weight: 900;
}
.hero__content p {
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: -0.7px;
  opacity: 0.8;
}
.hero__content .bottom-button {
  margin-top: 14px;
}
/* ---hero-section---end */


/* ---hero-brand-section--- */
.hero-brand-section {
  padding: 40px 0;
  background: #040B0F;
}
.hero-brand-section___inner {

}
.hero-brands__wrapper {
  grid-template-columns: repeat(5,1fr);
  display: grid;
}
.hero-brand {
  padding: 0 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-brand .img {

}
/* ---hero-brand-section---end */


/* ---common-content--- */
.h2 {
  font-size: 66px;
  margin: 0 0 50px;
  letter-spacing: -3px;
  text-transform: uppercase;
  font-weight: 900;
}
.h3 {
  font-size: 36px;
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: 900;
}
.bd-m {
  font-size: 32px;
  margin: 0 0 32px;
  font-weight: 400;
}
.bd-m .drop-cap {
  font-size: 80px;
  color: var(--theme__color1);
  float: left;
  line-height: 1.2;
  margin: 0px 10px 0 0;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.cont-blk .str-3 {
  width: 70px;
  margin: 0 0 25px;
} 
.cont-blk--center {

}
.cont-blk__title {
  margin: 0 0 60px;
}
.cont-blk__body {

}
.sec-title {
  margin: 0 0 60px;
}
/* ---common-content---end */


/* ---update-section--- */
.update-section {
  padding: 100px 0 85px;
}
.update-section__inner {

}

.update__content {
  padding: 80px 100px;
  background: #13424E;
  box-shadow: 10px 50px 90px rgba(5, 29, 36, 0.3);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}
.update__content__title {
  padding: 76px 0 55px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}
.update__content__title h3 {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
}
.update__content__title h3 .str {
  width: 41px;
  margin-right: 20px;
  vertical-align: middle;
}
.update__content__title h3  {

}
.update__content__body {
  padding: 0 0 75px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.update__content__body p {
  font-size: 32px;
  margin: 0 0 32px;
  opacity: 0.8;
}
.update__content__body .str-3 {
  margin: 60px auto 0;
  display: block;
}
/* ---update-section---end */



/* ---data-base-section--- */
.database-section {
  padding: 85px 0;
}
.database-section__inner {

}
.database-section__title {
  padding: 0 17%;
}
.database-section__title p {
  margin: 0 0 30px;
}
.database-section__title p:last-child {
  margin-bottom: 0;
}

.database__graph {
  width: 100%;
}
.database__graph .img {
  width: 100%;
}

.database__dt {
  margin: 55px 0 0;
  display: flex;
}
.database__dt__single {
  padding-top: 35px;
  border-top: 2px dashed rgba(255, 255, 255, 0.3);
  width: 25%;
  text-align: center;
  position: relative;
}
.database__dt__single .ellipse {
  height: 22px;
  width: 22px;
  border: 6px solid #EF7878;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}
.database__dt__single .tc {

}
.database__dt__single .tc p {
  color: #fff;
}
/* ---data-base-section---end */


/* ---prd-section--- */
.prd-section {
  padding: 85px 0;
}
.prd-section__inner {

}

.prd-row {
  gap: 50px;
  margin: 0 0 140px;
  display: flex;
  align-items: center;
}
.prd-row__image {
  width: 100%;
}
.prd-row__image .img {
  width: 100%;
}
.prd-row__content {
  flex-shrink: 0;
  width: 50%;
}
.ul-x {
  gap: 19px;
  display: flex;
  flex-direction: column;
}
.ul-x li {
  padding-left: 25px;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
.ul-x li::before {
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #75D9F0;
  position: absolute;
  display: block;
  top: 12px;
  left: 0;
}

.prd-row--aas {

}
.prd-row--aas .prd-row__image {

}
.prd-row--aas .prd-row__image .img {
  --extra: 20%;
  width: calc(100% + var(--extra));
  margin-left: calc(var(--extra) * -1);
  max-width: initial;
}
/* ---prd-section---end */


/* ---process-section--- */
.process-section {
  padding: 85px 0;
}
.process-section__inner {

}
.process-section__title {

}

.process__wrapper {
  grid-gap: 29px;
  grid-template-columns: repeat(5,1fr);
  display: grid;
}
.process-single {
  padding: 42px 28px;
  border-radius: 20px;
  background: #13424E;
  --theme: #75D9F0;
}
.process-single--green {
  --theme: #96F89C;
}
.process-single--sky {
  --theme: #75D9F0;
}
.process-single--orange {
  --theme: #EF7878;
}
.process-single--purple {
  --theme: #AF96F8;
}
.process-single--yellow {
  --theme: #F8E896;
}
.process-single__title {
  padding: 0 0 24px;
  margin: 0 0 20px;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.process-single__title h3 {
  font-size: 24px;
  font-weight: 900;
  color: var(--theme);
}
.process-single__body {

}
.ps-ul {
  gap: 13px;
  display: flex;
  flex-direction: column;
}
.ps-ul li {
  padding-left: 16px;
  line-height: 1.3;
  position: relative;
}
.ps-ul li::before {
  content: '';
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: var(--theme);
  position: absolute;
  display: block;
  top: 10px;
  left: 0;
}
/* ---process-section---end */


/* ---way-section--- */
.way-section {
  padding: 85px 0;
  position: relative;
  z-index: 1;
}
.way-section__title-bg-shape {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
  z-index: -1;
}
.way-section__inner {
  padding: 0 7.5%;
}
.way-section__title {

}

.way-card__wrapper {
  grid-gap: 30px;
  grid-template-columns: repeat(2,1fr);
  display: grid;
}
.way-card {
  padding: 58px 38px;
  border-radius: 20px;
  background: #13424E;
  display: flex;
  flex-direction: column;
}
.way-card__title {
  padding: 0 0 40px;
  margin: 0 0 40px;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.way-card__title h3 {
  font-size: 40px;
  margin: 0 0 8px;
  letter-spacing: -1px;
  font-weight: 900;
}
.way-card__title h4 {
  font-size: 26px;
  margin: 0;
  font-weight: 400;
}
.way-card__title h4 .big {
  font-size: 32px;
  color: var(--theme__color1);
  font-weight: 900;
}
.way-card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.check-ul {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.check-ul li {
  padding-left: 40px;
  font-size: 38px;
  line-height: 1.3;
  position: relative;
  color: rgba(255, 255, 255, 0.8);
}
.check-ul li::before {
	font-size: 22px;
	content: '\f00c';
	color: var(--theme__color1);
	position: absolute;
	top: 13px;
	left: 0;
	font-family: "Font Awesome 5 Pro";
}
.way-card__body .bottom-button {
  margin: 41px auto 0;
}
/* ---way-section---end */


/* ---opp-section--- */
.opp-section {
  padding: 85px 0;
}
.opp-section__inner {

}
.opp-section__title {

}
.opp-section__content {
	padding: 0 17%;
}
/* ---opp-section---end */


/* ---collaborative-section--- */
.collaborative-section {
  padding: 85px 0;
}
.collaborative-section__inner {
}
.collaborative-section__title {

}

.collaborative-section__content {
  padding: 0 17%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collaborative__image {
  width: 100%;
}
.collaborative__image .img {
  width: 100%;
}
.collaborative-section__content .bottom-button {
  margin: 58px 0 0;
}
.collaborative-section__content .rating {
  margin: 55px 0 0;
}
.rating {
  gap: 18px;
  display: flex;
  align-items: center;
}
.rating ul {
  gap: 14px;
  display: flex;
  align-items: center;
}
.rating ul li {
  width: 33px;
}
.rating p {
  font-size: 24px;
  margin: 0;
}
.collaborative-section__content .adces-logo {
  margin: 45px 0 0;
  width: 411px;
}
/* ---collaborative-section---end */


/* ---testimonial-section--- */
.testimonial-section {
  padding: 85px 0; 
}
.testimonial-section__inner {

}
.testimonial-section__title {

}

.testimonial-slider {

}
.testimonial-slider .owl-nav {
  position: absolute;
  bottom: 0;
  right: 0;
}
.testimonial-slide {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.testimonial-slide__image {
  width: 31.8%;
  flex-shrink: 0;
  position: relative;
}
.testimonial-slide__image .img {
  width: 100% !important;
}
.testimonial-slide__image .quote {
  width: 90px !important;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%,50%);
}
.testimonial__tc {
  width: 59.5%;
}
.testimonial__tc p {
  color: #fff;
}
.testimonial__tc__auth {
  margin: 10px 0 0;
}
.testimonial__tc__auth h4 {
  font-size: 24px;
  margin: 0 0 14px;
  gap: 12px;
  display: flex;
  align-items: center;
  font-weight: 900;
}
.testimonial__tc__auth h4 .line {
  height: 4px;
  width: 18px;
  background: var(--theme__color1);
  display: block;
  margin: 0;
}
.testimonial__tc__auth p {
  color: rgba(255, 255, 255, 0.8);
}
/* ---testimonial-section---end */


/* ---slider-arrow--- */
.slider-arrow-1 .owl-nav  {
  display: flex;
  align-items: center;
  gap: 21px;
}
.slider-arrow-1 .owl-nav button  {
  height: 60px;
  width: 60px;
  font-size: 12px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0.4;
  transition:0.3s;
  border: 2px solid #ffff !important;
  border-radius: 50%;
}
.slider-arrow-1 .owl-nav button:hover  {
  opacity: 1;
}

.slider-arrow-1--theme-2 .owl-nav button {
  background: var(--theme__color1) !important;
  color: var(--theme__color2) !important;
  border-color: transparent !important;
  opacity: 1;
}
.slider-arrow-1--theme-2 .owl-nav button.disabled {
  background: rgba(255, 255, 255, 0.4) !important;
  color: #fff !important;
}
/* ---slider-arrow---end */


/* ---cta-section--- */
.cta-section {
  padding: 85px 0;
}
.cta-section__inner {

}
.cta-section__title {

}

.cta-form {
  border-radius: 50px;
  margin: 0 auto;
  width: 816px;
  display: flex;
  max-width: 100%;
}
.cta-form .input {
  padding: 10px 31px;
  height: 62px;
  color: #6F8388;
  width: 0;
  flex-grow: 1;
  border-radius: 50px 0 0 50px;
  border: 1px solid transparent;
}
.cta-form .submit {
  padding: 10px 37px;
  font-weight: 500;
  color: #09343F;
  background: var(--theme__color1);
  border: 1px solid transparent;
  border-radius: 0 50px 50px 0;
}
/* ---cta-section---end */


/* ---faq-section--- */
.faq-section {
  padding: 85px 0;
}
.faq-section__inner {

}
.faq-section__title {

}

.faqs-wrapper {
  width: 66%;
  margin: 0 auto;
}
.single-faq {
  border-bottom: 1px solid #FFFFFF4D;
}
.single-faq:last-child {
  border-bottom: none;
}
.single-faq__title {
	padding: 45px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.single-faq__title h3 {
  font-size: 32px;
  font-weight: 700;
}
.single-faq__title .ind {
  font-size: 20px;
  color: var(--theme__color1);
  transition: 0.3s;
}
.single-faq__title:not(.collapsed) .ind {
  transform: rotate(180deg);
}
.single-faq__body {

}
.single-faq__body__inner {
  padding: 0 40px 50px 0;
}
.single-faq__body__inner p {
  color: #fff;
}
/* ---faq-section---end */


/* ---footer-section--- */
.footer-section {

  background: #13424E;
}

.footer__top {
  padding: 100px 10% 85px;
}

.footer__main-row {
  padding: 80px 0 60px;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
}
.footer__main-row h4 {
  font-size: 24px;
  margin: 0 0 30px;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.8);
}
.footer__about-column {
  width: 50%;
  padding-right: 20%;
}
.footer__logo {
  width: 197px;
  margin: 0 0 33px;
  display: block;
}
.footer__logo img {

}
.footer__about-column p {

}
.footer__menu-column {
  width: 18%;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.footer-menu li {

}
.footer-menu li a {
  gap: 12px;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
}
.footer-menu li a:hover {
  color: var(--theme__color1);
}
.footer-menu li a .icon {
  width: 22px;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-shrink: 0;
}
/* ---footer-section---end */


/* ---article-section--- */
.article-section {
  padding: 110px 0;
}
.article-section__title {
  margin:  0 0 70px;
}
.article-section__title .h2 {
  margin: 0 0 70px;
}
.tag-filter-nav {
  margin: 0 0 70px;
  gap: 20px;
  display: flex;
  overflow: auto;
}
.filter-tag {
  min-height: 62px;
  padding: 10px 35px;
  font-size: 18px;
  font-weight: 500;
  font-family: var(--sf-pro-display);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #09343F;
  border-radius: 30px;
  transition: 0.3s;
  border: 1px solid #fff;
  color: #fff;
}
.div-line {
  margin-bottom: 70px;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
}
.articles__grid {
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(3,1fr);
  display: grid;
}
.single-article {

}
.single-article__image {
  width: 100%;
  height: 380px;
  background: #fff;
  border-radius: 20px;
  display: block;
}
.single-article__image img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.single-article__tc {
  padding: 33px 0 0;
}
.single-article__tc h3 {
  font-size: 32px;
  margin: 0 0 20px;
  font-family: var(--sf-pro-display);
}
.single-article__tc p {

}
.single-article__tc .rt-meta {

}
.rt-meta {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
.rt-meta .cal {
  width: 16px !important;
  margin-right: 8px;
  display: inline-block !important;
}

.pagination {
  margin: 60px 0 0;
  display: flex;
  justify-content: center;
}
.pagination ul {
  gap: 12px;
  display: flex;
}
.pagination ul li {

}
.pagination ul li a {
  height: 48px;
  width: 48px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #214750;
  border-radius: 50%;
}
.pagination ul li a.i-a {

}
.pagination ul li a.active {
  background: var(--theme__color1);
  color: var(--theme__color2);
}
/* ---article-section---end */


/* ---blog-view-section--- */
.blog-view-section {
  padding: 140px 0;
}
.blog-view-section__inner {
  padding: 0 8.5%;
}

.blog-view__title {
  margin: 0 0 50px;
}
.blog-view__title .h2 {
  margin: 0 0 17px;
}

.blog-view-image {
  margin: 0 0 58px;
  border-radius: 20px;
  background: #D9D9D9;
  height: 500px;
}
.blog-view-image img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.blog-view__tg {
  margin: 0 0 58px;
}
.blog-view__tg h4.bd-m {
  margin: 0 0 25px;
  font-weight: 700;
}
.blog-view__tg p:not(.bd-m) {
  font-size: 24px;
  margin: 0 0 40px;
}
/* ---blog-view-section---end */